* {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #fffdf7;
  /* background-color: #f1f5f9; */
}

a:hover {
  color: #f97316;
}

.social-icon:hover {
  color: #f97316;
}

.rotate-icon:hover {
  transform: rotate(5deg);
}

body {
  overflow-y: scroll;
}

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  background-color: #fffdf7; /* Background color of the scrollbar */
}