---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="text-md">
    <h1
      class="flex text-xl font-bold pb-8 justify-center sm:text-2xl sm:justify-start"
    >
      About Me
    </h1>
    <p>
      Hey there, I'm Kevin! 👋

      <br />
      <br />
      I'm a software engineer based in Vancouver, BC. I graduated from UBC in 2020
      with a degree in Computer Science and Physics.

      <br />
      <br />

      First and foremost I love problem solving and understanding how the
      universe works at a deeper level. Fortunately the ability to dive deep and
      solve problems are transferable skills into various fields.
    </p>
    <h1
      class="flex text-xl font-bold py-8 justify-center sm:text-2xl sm:justify-start"
    >
      Professional Background
    </h1>
    <p>
      In the past few years, I had the opportunity to work at companies across
      different industries and different scales. Each experience has taught me
      different lessons to help me grow as a software engineer.

      <br />
      <br />
      I'm currently working as a Senior Software Engineer at <a
        class="underline"
        target="_blank"
        href="https://www.imperva.com/">Imperva</a
      > to make security and compliance easier for users. My team owns the
      <a
        class="underline"
        target="_blank"
        href="https://docs.imperva.com/bundle/account-takeover/page/account-takeover/account-takeover.htm"
      >
        Account Takeover Protection (ATO)</a
      > and
      <a
        class="underline"
        target="_blank"
        href="https://www.imperva.com/products/client-side-protection/"
        >Client-Side Protection (CSP)</a
      > products.

      <br />
      <br />
      Prior to Imperva, I was at <a
        class="underline"
        target="_blank"
        href="https://aws.amazon.com/cognito/">Amazon Cognito</a
      >, building services to handle billions of requests per day around the
      globe.
    </p>
    <h1
      class="flex text-xl font-bold py-8 justify-center sm:text-2xl sm:justify-start"
    >
      In my Free Time
    </h1>
    <p>
      Outside of work I enjoy being a hobby astronomer (still lugging around my
      Vixen R130Sf telescope from 2013), hiking and exploring the beautiful
      landscape of BC, reading books with a cup of coffee, and most recently I
      have been trying to (re)learn the piano!
    </p>
    <h1
      class="flex text-xl font-bold py-8 justify-center sm:text-2xl sm:justify-start"
    >
      Contact
    </h1>
    <p>
      If you would like to get in touch with me, I'm always open to chat! You
      can find me on <a
        class="underline"
        target="_blank"
        href="https://www.linkedin.com/in/kevin-kwon-4885b013b/">LinkedIn</a
      >, or shoot me an <a
        class="underline"
        href="mailto:kevinkwon1995@gmail.com">email</a
      >.
    </p>
  </div>
</Layout>
