---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <p>
    Hey! My name is Kevin Kwon, and I'm currently working as a Senior Software
    Engineer at <a class="underline" href="https://www.imperva.com/">Imperva</a>
  </p>
</Layout>
