---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <p>
    Hey, I'm Kevin! 👋

    <br/>
    <br/>
    A software engineer based in Vancouver, B.C. I graduated from UBC in 2020 with a degree in Computer Science and Physics.

    <br/>
    <br/>

    Currently I'm working on making security and compliance easier for users at <a
    class="underline"
    href="https://www.imperva.com/">Imperva</a>. My team and I focus on the
    <a class="underline" href="https://docs.imperva.com/bundle/account-takeover/page/account-takeover/account-takeover.htm">
    Account Takeover Protection (ATO)</a> and
    <a class="underline" href="https://www.imperva.com/products/client-side-protection/">Client-Side Protection (CSP)</a> products.

    <br />
    <br />

    In my free time, I'm a hobby astronomer, I enjoy reading books, and most recently have been trying to (re)learn the piano!

    <br />
    <br />

    If you would like to reach out, you can find my <a class="underline" href="https://www.linkedin.com/in/kevin-kwon-4885b013b/">LinkedIn profile</a> here.
  </p>
</Layout>
