---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kevin Kwon">
  <p>
    Hi, welcome to my personal corner on the web.

    <br />
    <br />
    This is a digital space I've created to share a little bit about myself, some
    of my thoughts, deeper personal musings, my hobbies and its artifacts, and anything
    else that I find interesting.

    <br />
    <br />
    I hope you enjoy your time here.
  </p>
</Layout>
