---
import HeaderElement from "./HeaderElement.astro";
---

<div class="text-3xl">
  <HeaderElement elementName="Home" path="/" />
  <HeaderElement elementName="Posts" path="/posts/" />
  <HeaderElement elementName="About" path="/about/" />
</div>
