---
import HeaderElement from "./HeaderElement.astro";
---

<div class="text-xl">
  <HeaderElement elementName="Posts" path="/posts/" />
  <HeaderElement elementName="About" path="/about/" />
  <HeaderElement elementName="Experience" path="/experience/" />
</div>
