---
import SocialIcon from "../footer/SocialIcon.astro";
import HeaderElement from "./HeaderElement.astro";
---

<div class="flex items-center text-lg">
  <HeaderElement elementName="About" path="/about/" />
  <HeaderElement elementName="Posts" path="/posts/" />
  <HeaderElement elementName="Experience" path="/experience/" />
</div>
