---
const { title, url, date } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US", {
  month: "short",
  day: "numeric",
});
---

<div class="flex text-sm justify-between">
  <li class="w-10/12 pr-5">
    <a href={url}>{title}</a>
  </li>
  <p>{formattedDate}</p>
</div>
