---

---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<span class="material-symbols-outlined ml-5 sun invisible w-0 sm:visible">
  light_mode
</span>

<style>
  .moon:hover {
    cursor: pointer;
  }

  .sun:hover {
    cursor: pointer;
    color: #cab408;
  }
</style>
