---
import Social from "./Social.astro";
---

<div
  class="flex flex-col justify-center text-xs pb-10 xl:text-base xl:justify-between xl:flex-row xl:items-center"
>
  <p class="flex justify-center xl:justify-between">
    Copyright © 2024 | All Rights Reserved.
  </p>
  <Social />
</div>
