---
import Divider from "../components/Divider.astro";
import Header from "../components/header/Header.astro";
import Name from "../components/header/Name.astro";
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/LetterK.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex w-full justify-center">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <div class="flex-col w-5/12 text-slate-600">
      <div class="flex justify-between mt-20 mt-18 mb-12 items-center">
        <Name />
        <Header />
      </div>
      <Divider />
      <div class="flex items-center w-full justify-start">
        <slot />
      </div>
    </div>
  </body>
</html>
